/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-promedik-plugin {
  background: $red;
  border: 0.2rem solid $black;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}

@media (max-width: 768px) {
  .discussion-title-category-container {
    display: block !important;
  }
  .discussion-detail-forum-category-container {
    justify-content: flex-start !important;
    align-items: flex-start !important;
    margin-top: 10px !important;
    padding-left: 20px !important;
  }
}

@media (max-width: 599px) {
  .discussion-detail-date-member-replies {
    display: block !important;
  }
  .discussion-detail-member-replies {
    margin-left: 0px !important;
  }
}

.discussion-title-content-container {
  padding-left: 20px;
}

// .discussion-detail-member-replies {
//   background-color: orange;
// }
