/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-cgb-block-promedik-plugin {
  background: $green;
  border: 0.2rem solid $black;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}

.title {
  overflow: hidden;
  display: -webkit-box;
  // line-break: anywhere;
  
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical !important;
  /* autoprefixer: off */
}
