/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-promedik-plugin {
  background: $red;
  border: 0.2rem solid $black;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}

.title {
  overflow: hidden;
  display: -webkit-box;
  // line-break: anywhere;
  
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical !important;
  /* autoprefixer: off */
}


